<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">


  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

  <title> 
    Scrapalcious!
  </title>
</head>

<body class="homebody">
 <div class="container">
  <nav id="nav" class="navbar navbar-expand-lg navbar-inverse">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        
    <div class="collapse navbar-collapse" dtyle="text-align:-webkit-right;" id="navbarNav">
      
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="btn" style=color:darkblue; href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="btn" style=color:darkblue; href="/saved">Saved </a>
        </li>
         <li class="nav-item">
          <a class="btn" style=color:darkblue ; id="scrape" >Scrape </a>
        </li>
           <li class="nav-item">
          <a class="btn" style=color:darkblue; id="clear" href="/clear">Clear </a>
        </li>
      </ul>
    
    </div>
  </nav>
  <div class="container-fluid" id="heading"> 
    <h1 style="color: deeppink; text-align:center ">Scrapalcious</h1>

    <h6 style="color:darkblue; text-align:center"> The New York Times Science</h6>
     <h6 style="color:darkblue; text-align:center"> Scrape all about it! </h6>
  <br><br>
  </div>
  {{{ body }}}
</div>
  <script src="/assets/js/app.js"></script>
</body>

</html>